.image-position {
  width: 80%;
  display: flex;
  margin: 1rem;
}

.header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.blank {
  border-top: 1px solid;
}

:host::ng-deep .p-card {
  .p-card-body {
    padding: 10px !important;
  }

  .p-card-content {
    padding: 0rem !important;
  }
}

:host::ng-deep .p-card-footer {
  .p-button {
    color: #ffffff;
    background: #1b6d1f;
  }
}

.win-box {
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: var(--green-900);
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  margin: 4px 1px 4px 8px;
  font-size: 11px;
}

.Loss-box {
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: red;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  margin: 4px 1px 4px 8px;
  font-size: 11px;
}

.body-box {
  text-align: center;
  align-items: center;
  margin: 5px 0px 5px 0px;
}

.container-body::after {
  content: '';
  display: block;
  clear: both;
}

.left-text {
  width: 50%;
  float: left;
}

.right-picture {
  float: right;
  width: 50%;
}
