.active {
  background-color: rgb(40, 212, 68);
}
.fitcontent {
  float: left;
}
.mt-top {
  margin-top: 100px;
}

.sub_btn {
  width: 1000px;
  margin-left: 21px;
  float: left;
  margin-top: 20px;
}

.lstSub_btn {
  width: 64%;
  margin-left: 23%;
  background-color: gray;
  color: white;
  height: 40px;
}
.lstSub_btn:hover {
  background-color: gray;
  color: white;
}
