.active {
  background-color: rgb(40, 212, 68);
}
.fitcontent {
  float: left;
}
.mt-top {
  margin-top: 100px;
}
.wd-area {
  width: 600px;
}
.txt_align {
  text-align: center;
}
.ques_txt {
  width: 100%;
  margin-top: 8%;
}
.ques_sub_txt {
  float: left;
  margin-left: 20px;
}
.sub_btn {
  text-align: center;
}

.lstSub_btn {
  margin: 10px;
  width: 60%;
  background-color: gray;
  color: white;
}
.lstSub_btn:hover {
  background-color: gray;
  color: white;
}
