<div class="conatiner p-4">
  <h3 style="text-align:center">Quiz Maker</h3>
  <div style="width:600px;" class="mr-4 flex">
    <p-dropdown
      id="categorySelect"
      [options]="category"
      [(ngModel)]="selectedCategory"
      placeholder="Select a category"
      [editable]="true"
      optionLabel="name"
      (onChange)="selectCategoryId($event.value.id)"
    ></p-dropdown>

    <p-dropdown
      id="difficultySelect"
      [options]="difficulties"
      [(ngModel)]="selecteddiffculty"
      placeholder="Select difficulty"
      [editable]="true"
      optionLabel="name"
      (onChange)="selecteDifficultyId($event.value.name)"
    ></p-dropdown>

    <p-button label="Create" (click)="createQuestion()"> </p-button>
  </div>

  <div
    style="width: 100%;
    margin-top: 8%;"
    *ngFor="let ques of quesresults; let i = index"
  >
    <p>{{ ques.question }}</p>

    <div
      style="float:left; margin-left:20px;ß "
      class="fitcontent ml-4"
      *ngFor="let btns of ques.incorrect_answers; let j = index"
    >
      <button
        pButton
        pRipple
        class="p-button-outlined"
        id="bt_{{ i + '_' + j }}"
        (click)="clickButton(btns, i, j)"
      >
        {{ btns }}
      </button>
    </div>
  </div>
  <div class="sub_btn" *ngIf="enableSubmit">
    <button
      style="width: 50%;
        margin-left: 35%;"
      pButton
      pRipple
      label="Submit"
      class="p-button-success"
      (click)="submitButton()"
    ></button>
  </div>
</div>
