<div class="conatiner main-box p-4">
  <h3>Quiz Maker</h3>
  <div class="mr-4 flex">
    <p-dropdown
      id="categorySelect"
      [options]="category"
      [(ngModel)]="selectedCategory"
      placeholder="Select a category"
      [editable]="true"
      optionLabel="name"
      (onChange)="selectcategoryid($event.value.id)"
    ></p-dropdown>

    <p-dropdown
      id="difficultySelect"
      [options]="difficulties"
      [(ngModel)]="selecteddiffculty"
      placeholder="Select difficulty"
      [editable]="true"
      optionLabel="name"
    ></p-dropdown>

    <p-button label="Create" (click)="createQuestion()"> </p-button>
  </div>
</div>
<!--
<div class="conatiner main-box p-4">
<h3>NBA Score Tracking App</h3>

<div class="mr-4 flex">
  <p-dropdown
    styleClass="mr-2 flex-grow-1 w-75"
    [disabled]="!nbatracker_listofteams.length"
    [options]="nbatracker_listofteams"
    [(ngModel)]="nbatracker_teamSelection"
    placeholder="Select a NBA Team"
    optionLabel="full_name"
    [showClear]="true"
    styleCLass="fixed-Position"
  ></p-dropdown>
  <p-button 
    (onClick)="getNbaTrackerTeamData()"
    [disabled]="!nbatracker_listofteams.length"
    [label]="!nbatracker_listofteams.length ? '' : 'Track Team'"
    [icon]="!nbatracker_listofteams.length ? 'pi pi-spin pi-spinner' : ''"
  ></p-button>
</div>

<div *ngIf="nbatracker_selectedAllTeam.length" class="score-board mt-4">
  <div class="grid">
    <div
      class="col-12 md:col-6 lg:col-6"
      *ngFor="let team of nbatracker_selectedAllTeam; let i = index"
    >
      <p-card styleClass="shadow-2 ">
        <ng-template pTemplate="header">
          <div class="header">
            <span class="ml-2 text-900 font-bold"
              >{{ team.full_name }}( {{ team.abbreviation }})</span
            >
            <button
              pButton
              type="button"
              (click)="remove(i)"
              icon="pi pi-times"
              class="
                p-ripple
                p-button-rounded
                p-button-text
                p-button-plain
                p-button
                p-component
                p-button-icon-only
              "
            ></button>
          </div>
          <span class="ml-2 text-900 text-sm"
            >{{ team.conference }} conference</span
          >
          <div class="mt-3 blank"></div>
        </ng-template>
        <div class="container-body">
          <div class="left-text">
            <span class="ml-2 text-900 text-sm">result of pass 12 days</span>
            <div class="body-box">
              <div
                [ngClass]="
                  score.self_score > score.oppt_score ? 'win-box' : 'Loss-box'
                "
                *ngFor="let score of team.results"
              >
                {{ score.self_score > score.oppt_score ? 'W' : 'L' }}
              </div>
            </div>
            <span class="ml-2 text-900 text-sm"
              >Avg pts scroed : <b>{{ team.selfAvgScore }}</b> </span
            ><br />
            <span class="ml-2 text-900 text-sm"
              >Avg pts conceded : <b>{{ team.opptAvgScore }}</b></span
            >
          </div>
          <div class="right-picture">
            <img
              class="image-position"
              alt="Card"
              [src]="nbatracker_imgPath + team.abbreviation + nbatracker_imgType"
            />
          </div>
        </div>
        <ng-template pTemplate="footer">
          <p-button
            (click)="displayTracker_result(team)"
            label="See game results >>"
          ></p-button>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
</div>

-->
